*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background-color: var(--bg-main);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
