.nav-content  {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-content ul {
    display: flex;
    gap: 50px;
}

.nav-content .middle ul li a {
    color: var(--text-main);
    font-weight: bold;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease;
}

.nav-content ul li a:hover {
    background-size: 100% 2px;
}

.nav-content .right p {
    font-family: "Aref Ruqaa Ink", serif;
    font-size: 20px;
}

.nav-content .left ul li a {
    color: var(--text-main);
    font-weight: bold;
}

.nav-content .left ul li a {
    border: 2px solid var(--coffee-dark);
    color: var(--bg-main);
    background-color: var(--coffee-dark);
    border-radius: 17px;
    padding: 7px 10px;
    transition: 0.3s all ease-out;
}

.nav-content .left ul li a:hover {
    color: var(--coffee-dark);
    background-color: var(--bg-main);
}

main {
    height: 90vh;
}

.blur-bottom {
     position: relative;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 100%
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 100%
  );
}

.hero-content {
    background-image: url(../assets/images/rmbgsmall.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: 100;
}

.hero-content .content {
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    height: 95vh;
}

.hero-content .left-content h1 {
    font-size: 150px;
    color: var(--coffee-dark);
    position: relative;
    top: 130px;
    overflow: hidden;
    z-index: -1;
    padding-top: 20px;
}

.hero-content .right-content .desc {
    /* border: 1px solid black; */
    position: relative;
    top: 130px;
    max-width: 800px;
    height: fit-content;
    padding-top: 20px;
}

.hero-content .right-content .desc p {
    line-height: 1.7;
    font-size: 25px;
}

.hero-content .right-content .desc p:first-child{
    font-family: "Reem Kufi", sans-serif;
    background-image: url(../assets/images/background.jpg);
    font-size: 55px;
    border: 1px solid black;
    text-align: center;
    padding: 7px 0;
    margin-bottom: 10px
}

.hero-content .right-content .desc p:nth-child(2){
    padding-bottom: 40px;
}

.hero-content .right-content .desc p:nth-child(3) {
    display: flex;
    justify-content: space-between
}

.hero-content .right-content .desc p:nth-child(3) a {
    font-weight: bold;
    color: var(--coffee-dark);
    font-size: 19px;
    border: 2px solid var(--coffee-dark);
    padding: 2px 17px;
    transition: 0.3s all ease-out;
}

.hero-content .right-content .desc p:nth-child(3) a:hover {
    color: var(--bg-main);
    background-color: var(--coffee-dark)
}

.second-section {
    margin-top: var(--top-section-margin);
    height: 400px;
}

.second-section .sec-section-content .sec-content .noted {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.second-section .sec-section-content .sec-content .noted .right-parag {
    width: 50%;
    font-size: 25px;
    /* border: 1px solid black; */
    padding: 50px 50px;
}

.second-section .sec-section-content .sec-content .noted .right-parag .nested-a {
    display: block;
    position: relative;
    top: 30px;
    color: var(--coffee-dark);

    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    width: fit-content;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease;
}

.second-section .sec-section-content .sec-content .noted .right-parag .nested-a:hover {
    background-size: 100% 2px;
}

.second-section .sec-section-content .sec-content .noted .left-title {
    color: var(--coffee-dark);
    font-size: 150px;
    font-weight: bold;
    padding: 50px 0;
}

.second-section .sec-section-content .sec-content .noted .left-title .word-one {
    
}

hr {
    
}

.third-section {
    margin-top: var(--top-section-margin);
    height: 500px;
}




